.app-form-login {
    background-color: rgba($color: #00dae8, $alpha: .5);
    padding: 30px;
    display: inline-block;

    .app-form-login__input {
        padding: 10px;
        border: none;
        width: 150px;
        outline: none;
    }
    
    .app-form-login__submit {
        padding: 10px;
        border: none;
    }
}